#label {
	color: #F1C40F;
	font-size: 64px;
}

.calendar .cal-frame td.today {
	background:#DC7633;
}

.calendar .days th {
	background: #198754;
	color: #FBFCFC;
}

td {
	height: 80px;
	width: 144px;
}

#moon {
	height: 280px;
}

#ex1{
	display: table;
	margin:20px auto;
	text-align: center;
	color: #FBFCFC;
	/* border: 1px solid black; */
	padding: 5px 30px;
}

#ex1 [shadow]{
	filter:drop-shadow(0 0 25px rgb(0,50,50));
	padding:15px 0;
}

#day-number {
	color: #ECF0F1;
}