<div class="container">

	<!-- calendario -->
	<div class="calendar">
		<div class="header">
			<div id="moon" class="row d-flex justify-content-center align-items-center">
				<div class="col-1">
					<img src="../../assets/img/arrow-left.png" alt="left" (click)="switchMonth(false, undefined, undefined)">
				</div>
				<div class="col-6">
					<h1 class="text-center text-primary" id="label">{{label}}</h1>
				</div>
				<div class="col-1">
					<img src="../../assets/img/arrow-right.png" alt="right" (click)="switchMonth(true, undefined, undefined)">
				</div>
				<div class="col-1 text-center">
					<div class="ex1" id="ex1">
						<!-- moon here :v -->
					</div>
				</div>
			</div>
		</div>

		<div class="days">
			<div class="row">
				<div class="col">
					<table class="table text-center mb-0">
						<thead>
							<tr>
								<th scope="col" *ngFor="let d of days">{{d.toLowerCase()}}</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="cal-frame">
			<div class="row">
				<div class="col">
					<table class="table table-bordered text-center align-middle" id="table">
						<tbody id="body-days">
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal-info">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		<div class="modal-header">
			<div class="ms-auto">
				<h5 class="modal-title text-center my-0">{{day}}</h5><br>
				<h1 class="text-center text-secondary my-0">{{day_number}}</h1>
			</div>
			<button style="margin-bottom: auto;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body text-center" id="modal-body">

		</div>
	</div>
	</div>
</div>

<app-modal-calendario [setDate]="outputDate" (sendTrue)="updateCalendar($event)"></app-modal-calendario>

