<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a routerLink="calendar-dia" class="navbar-brand">
            <i class="bx bxs-calendar"></i>
            AgendaApp
        </a>
        <div *ngIf="localStorage.getItem('user')" class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="proyecto/list">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categoria/list">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="plugin/list">Plugins</a>
                </li>
            </ul>
            <form class="d-flex me-4">
                <input class="form-control me-2" type="text" placeholder="...   ">
                <button class="btn btn-primary" type="button">Buscar</button>
            </form>
            <ul class="navbar-nav">
                <div class="dropdown dropstart">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            {{'@'+localStorage.getItem('user')}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink (click)="editar(localStorage.getItem('user')??'')">Mi perfil</a></li>
                            <li><a class="dropdown-item" routerLink  (click)="logOut()">Cerrar sesion</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Calendario -->
<!-- <app-calendar></app-calendar> -->

<router-outlet></router-outlet>
