<br>
<div class="container my-4">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Richard_Stallman_at_Pittsburgh_University.jpg/1024px-Richard_Stallman_at_Pittsburgh_University.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Mis Datos</h5>
                </div>
                <app-edit-usuario></app-edit-usuario>
            </div>
        </div> 
        <div class="col-8" >
            
            <!---Hijo -->
            <app-txt-edit ></app-txt-edit>
            
            <br>
            
            <!---hijo -->
            <app-list-publicacion></app-list-publicacion>
            
        </div>
     </div>    
</div>
