<div *ngFor="let u of publicacion">
    <div class="card text-center">
        <div class="card-header" [innerHtml]="u.fechaPublicacion">
        </div>
        <div class="card-body">

            <h5 class="card-title" [innerHtml]="u.titulo"></h5>
            <p class="card-text" [innerHtml]="u.contenido"></p>

            <a (click)="aumentar(u)" class="btn btn-primary"><i class="fas fa-triangle"></i></a>
            <a (click)="disminuir(u)" class="btn btn-light"><i class="fas fa-triangle fa-rotate-180"></i></a>

            <p>{{u.puntuacion}}</p>
        </div>
        <div class="card-footer text-muted">

            <app-comentario [commentarioPublicacion]="u.id"></app-comentario>

        </div>

    </div>
    <br>
</div>
