<!--form (ngSubmit)="onSubmit()"-->

<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Titulo</span>
    <input type="text" id="title_" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg" [(ngModel)]="post.titulo">
</div>

<br>
<div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        [disabled]="false"
        [placeholder]="'Publicaciones...'">
    </ngx-editor>
</div>
<br>

<div *ngIf="isUser" class="d-grid gap-2 col-6 mx-auto">
    <button type="button" (click)="addPub()" class="btn btn-primary">Publicar</button>
</div>
<div *ngIf="isEditor" class="d-grid gap-2 col-6 mx-auto">
    <button type="button" (click)="addPost()" class="btn btn-primary">Guardar post</button>
</div>




<div class="container">


</div>
<!--/form-->
