<div *ngFor="let u of publicacion">
    <div class="card text-center">
        <div class="card-header" [innerHtml]="u.fechaPublicacion">

        </div>
        <div class="card-body">

            <h5 class="card-title" [innerHtml]="u.titulo"></h5>
            <p class="card-text" [innerHtml]="u.contenido"></p>
        </div>
        <div class="card-footer text-muted">
            <app-puntuacion [publicacion]="u"></app-puntuacion>
            <app-comentario [commentarioPublicacion]="u.id"></app-comentario>

        </div>

    </div>
    <br>
</div>
