<div class="modal fade" id="reminder-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span class="badge rounded-pill bg-warning ms-auto fs-4">Recordatorio</span>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul>
					<li>
						<div class="row">
							<div class="col">
								<h3>{{reminder?.titulo}}</h3>
							</div>
						</div>
					</li>
					<li *ngIf="reminder?.descripcion">
						<div class="row">
							<div class="col">
								<p class="fs-6">Descripci&oacute;n: {{reminder?.descripcion}}</p>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col">
								<p class="fs-5">Fecha: {{reminder?.fecha}}</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
