<div class="modal fade" id="modalActividad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nuevo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-evento-tab" data-bs-toggle="tab" data-bs-target="#nav-evento" type="button" role="tab" aria-controls="nav-evento" aria-selected="true">Evento</button>
                    <button class="nav-link" id="nav-recordatorio-tab" data-bs-toggle="tab" data-bs-target="#nav-recordatorio" type="button" role="tab" aria-controls="nav-recordatorio" aria-selected="false">Recordatorio</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-evento" role="tabpanel" aria-labelledby="nav-evento-tab">Tab evento</div>
                <div class="tab-pane fade" id="nav-recordatorio" role="tabpanel" aria-labelledby="nav-recordatorio-tab">
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-12">
                      <div class="mb-3">
                        <label for="titulo" class="form-label">Agrega un t&iacute;tulo</label>
                        <input type="text" class="form-control" id="titulo" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripci&oacute;n</label>
                      <textarea class="form-control" id="descripcion" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-12">
                      <div class="mb-3">
                        <label for="titulo" class="form-label">Fecha y hora</label>
                        <input type="datetime-local" class="form-control" id="titulo" autocomplete="off">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>