<!--div *ngFor="let u of publicacion"-->
<form (ngSubmit)="onSubmit()" #comentar="ngForm">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mi Comentario: </span>
        </div>
        <input (keyup)="onKey($event)" type="text" class="form-control" placeholder="opinion" aria-label="Username"
            aria-describedby="basic-addon1" >
        <button type="submit" class="btn btn-success mt-2" [disabled]="!comentar.form.valid">Comentar</button>
    </div>
</form>
<p>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#p{{commentarioPublicacion}}" role="button"
        aria-expanded="false" aria-controls="collapseExample" (click)="showComment()">
        Comentarios
    </a>

</p>
<div class="collapse" id="p{{commentarioPublicacion}}">
    <div class="card card-body" *ngFor="let u of comentarioList">


        <div class="card text-center" >
            <div class="card-header" >
                    {{u.usuario.username}}
         </div>
         <div class="card-body">
            <h5 class="card-title" ></h5>
            <p class="card-text" >{{u.contenido}} </p>
            
        </div>
    </div>


</div>



<br>
<!--/div-->