<br>
<div class="">
    <div class="row">
        <div class="col-md-4 ">
            <!--align-self-end
        style="width: 24rem;"-->
            <div class="row align-self-end">
                <div class="col-2"></div>
                <div class="col-10 ">
                    <div class="card">
                        <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-person_90382.png"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mis Datos</h5>
                        </div>
                        <app-edit-usuario></app-edit-usuario>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">

            <!---Hijo -->
            <app-txt-edit (pubEmitter)="addPub($event)" [isUser]="isUser"></app-txt-edit>

            <br>

            <!---hijo -->
            <app-list-publicacion [username]="'@local'" ></app-list-publicacion>

        </div>
        <div class="col-3">
            <app-find-contact></app-find-contact>
            <app-contact></app-contact>
        </div>
        <div class="col-1"></div>
    </div>
</div>
